@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'World of Water';
    src: url('../fonts/World\ of\ Water.woff2') format('woff2'),
         url('../fonts/World\ of\ Water.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --light: #efefef;
    --dark: #111414;
    --light2: #ffffff;
    --dark2: #ffffff;
    --middle: #808080;
    --middle-light: #80808049;
}

.dark-theme {
    --bg: var(--dark);
    --text: var(--light);
    --cursor: var(--dark2);
}

.light-theme {
    --bg: var(--light);
    --text: var(--dark);
    --cursor: var(--light2);
}

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--bg);
    color: var(--text);
    position: relative;
}

a {
    text-decoration: none;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: var(--cursor);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.1s ease;
    z-index: 999;
    mix-blend-mode: difference;
}

#scroll-top {
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    scale: 0;
    background-color: var(--text);
    color: var(--bg);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    i {
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {
    #cursor {
        display: none;
    }

}