@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --light: #efefef;
    --dark: #111414;
}

.dark-theme {
    --bg: var(--dark);
    --text: var(--light);
}

.light-theme {
    --bg: var(--light);
    --text: var(--dark);
}

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
}