.main {
    height: 91vh;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}

.main h1 {
    width: 100%;
    padding-left: 4rem;
    font-size: 13rem;
    font-weight: 400;
    align-self: flex-end;
}

.specialize {
    height: 100%;
    width: 100%;
    display: flex;
}

.specialize p {
    padding: 0 2rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
    align-self: flex-end;
}