.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-size: 1.1rem;
    font-weight: 350;
}

.navbar a {
    color: var(--text);
}

.navbar .links {
    display: flex;
    gap: 3rem;
}

.navbar .links p {
    cursor: pointer;
}

.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 1px;
}

.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    transition: width 0s ease, background .2s ease;
}

.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: var(--text);
    transition: width .2s ease;
}

.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: var(--text);
    transition: width .2s ease;
}

.sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.theme {
    height: 100%;
}

.theme button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 3px;
    color: var(--text);
}

i {
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1rem;
        position: relative;
    }

    .navbar #logo {
        display: none;
    }

    .navbar .links {
        flex-direction: column;
        gap: unset;
    }

    .navbar .links p {
        width: fit-content;
    }

    .theme {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
    }

    .theme button {
        font-size: 1rem;
    }

    i {
        font-size: 1.1rem;
    }

    .sliding-u-l-r-l {
        padding-bottom: 0;
    }
}


@media screen and (max-width: 480px) {
    .navbar {
        padding: 1rem;
    }
}