.work {
    min-height: 50vh;
    width: 100%;
    margin-top: 5rem;
    z-index: 9;
    position: relative;
}

#fixed-image {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 30%;
    display: none;
    background-size: cover;
}

.work .work-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.work .work-head #left {
    font-size: 2rem;
    font-weight: 400;
}

.work .work-head #right {
    font-size: 1rem;
    font-weight: 400;
}

.work #work-list .work-elem {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 2rem;
    color: var(--text);
    border-bottom: 1px solid var(--middle-light);
    position: relative;
    overflow: hidden;
}

.work #work-list .work-elem .elem-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work #work-list .work-elem .elem-text h2 {
    font-size: 2rem;
    font-weight: 600;
    z-index: 10;
}

.work #work-list .work-elem .elem-text h2 p {
    font-size: 1rem;
}

.work #work-list .work-elem .overlay {
    background-color: var(--middle-light);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all 0.15s ease;
}

.work #work-list .work-elem:hover .overlay {
    top: 0;
}

@media screen and (max-width: 768px) {

    .work .work-head {
        padding: 1rem;
    }

    .work .work-head #left {
        font-size: 1.2rem;
    }

    .work .work-head #right {
        display: none;
    }

    .work #work-list .work-elem {
        padding: 1rem;
    }

    .work #work-list .work-elem .elem-text h2 {
        font-size: 1.5rem;
    }

    .work #work-list .work-elem .elem-text h2 p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    .work #work-list .work-elem .elem-text h2 {
        font-size: 1.5rem;
    }

    .work #work-list .work-elem .elem-text h2 p {
        font-size: 0.8rem;
    }
}